<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Merb</string>
	<key>ordering</key>
	<array>
		<string>C93E4E5F-9507-458F-9716-ED90DA32613E</string>
		<string>E5041B45-DA78-4C06-BBF9-58F35447C14E</string>
		<string>68914F76-ABD8-4546-90AC-71A18C3E6DD1</string>
	</array>
	<key>uuid</key>
	<string>55FA5F5A-1595-4AC0-8C2D-77830413866E</string>
</dict>
</plist>
