<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Merb</string>
	<key>uuid</key>
	<string>55FA5F5A-1595-4AC0-8C2D-77830413866E</string>
</dict>
</plist>
